**Author:**       Jensy Gregorio GÃ³mez 
---------------------------------------
**Profession:**  IT Support Analyst and Automatation with Python

**Date:**         05 April 2024     

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)


# Additional resources

The following list of resources explore the meaning and role of different data types in databases. They also provide good examples for how to declare and use the data types in SQL.

-   [W3schools](https://www.w3schools.com/sql/sql_datatypes.asp)
    
-   [W3resource](https://www.w3resource.com/mysql/mysql-data-types.php)
    
-   [LearnSQL](https://learnsql.com/blog/understanding-numerical-data-types-sql/)
    
-   [Microsoft](https://docs.microsoft.com/en-us/sql/t-sql/data-types/decimal-and-numeric-transact-sql?view=sql-server-ver16s)
    
-   [MySQL](https://dev.mysql.com/doc/refman/8.0/en/numeric-types.html)