**Author:**       Jensy Gregorio Gómez 
---------------------------------------
**Profession:**  IT Support Analyst and Automatation with Python

**Date:**         19 April 2024     

**Resolved** 

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)


**Título:** 
# Creación de una base de datos para dispositivos móviles

**Enunciado:**  
El Sr. Carl Merkel, propietario de CM Mobiles, desea crear una base de datos para almacenar información clave sobre los dispositivos móviles que vende su empresa. Esta información incluye el número de identificación del dispositivo, el nombre del dispositivo y el precio del dispositivo. Tu tarea es guiar a Carl en la creación de esta base de datos utilizando SQL, asegurándote de definir los tipos de datos numéricos adecuados para los precios de los dispositivos.

In [ ]:
import mysql.connector

def conectar_base_datos():
    try:
        connection = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database="Course_db"
        )
        print("Conexión exitosa")
        return connection
    except mysql.connector.Error as error:
        print("Error al conectar a la base de datos:", error)
        return None

def ejecutar_sql(connection, sql_query):
    try:
        cursor = connection.cursor()
        cursor.execute(sql_query)
        connection.commit()
        cursor.close()
        print("Comando SQL ejecutado exitosamente")
    except mysql.connector.Error as error:
        print("Error al ejecutar el comando SQL:", error)

connection = conectar_base_datos()

if connection:
    def ejecutar_comando_sql(sql_query):
        ejecutar_sql(connection, sql_query)
    print("Puedes ejecutar comandos SQL en bloques adicionales.")
else:
    print("No se pudo establecer la conexión con la base de datos.")

1.  **Crear la base de datos:**
    
- Usaremos la basse de Datos `Course_db`, ya creada originalmente : `USE Course_db;`

In [ ]:
# Ejecutar comandos SQL
sql_query = """
    
        
"""
ejecutar_comando_sql(sql_query)


2. **Definir la estructura de la tabla:**

-   Identifica un nombre adecuado para la tabla. En este caso, llamémosla `devices`.
-   Para cada columna de la tabla, asigna un nombre y un tipo de dato:
    -   El número de identificación del dispositivo (`Device ID`) se almacenará como un número entero (`INT`).
    -   El nombre del dispositivo (`Device name`) será una cadena alfanumérica con un límite de 50 caracteres (`VARCHAR(50)`).
    -   El precio del dispositivo (`Price`) se almacenará como un número decimal (`DECIMAL`).
-   Utiliza el siguiente comando SQL para crear la tabla con las columnas definidas

In [ ]:
# Ejecutar comandos SQL
sql_query = """





"""
ejecutar_comando_sql(sql_query)


**Verificar la creación de la tabla:**

-   Después de ejecutar el comando, verifica que la tabla se haya creado correctamente utilizando: `SHOW TABLES;`

In [ ]:
# Ejecutar comandos SQL
sql_query = """



"""
ejecutar_comando_sql(sql_query)

Para examinar la estructura de la tabla `devices`, usa el siguiente comando: `SHOW COLUMNS FROM devices;`

In [ ]:
# Ejecutar comandos SQL
sql_query = """



"""
ejecutar_comando_sql(sql_query)



**Paso 4: Eliminar la tabla si es necesario:**

Si necesitas eliminar la tabla `devices` por alguna razón, puedes seguir estos pasos:

1.  **Utiliza el comando:** `DROP TABLE devices;`

In [ ]:
# Ejecutar comandos SQL
sql_query = """



"""
ejecutar_comando_sql(sql_query)

Cerramos la Base de Datos

In [3]:
connection.close()