**Author:**       Jensy Gregorio Gómez 
---------------------------------------
**Profession:**  IT Support Analyst and Automatation with Python

**Date:**         22 April 2024     

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)

**Título:** 
# Creación de una tabla de clientes para CM Mobiles.

**Escenario:** Mr. Carl Merkel es propietario de CM Mobiles, una pequeña empresa que vende dispositivos móviles. Para mejorar la gestión de clientes, Carl decide crear una tabla en una base de datos para almacenar información clave sobre ellos, como sus nombres de usuario, nombres completos y direcciones de correo electrónico.

**Paso a paso:**

1. **Definir la estructura de la tabla:**
   ```sql
   CREATE TABLE Customer (
       customer_id INT PRIMARY KEY AUTO_INCREMENT,
       username VARCHAR(50) NOT NULL,
       full_name VARCHAR(100) NOT NULL,
       email VARCHAR(100) NOT NULL
   );
   ```
   En este paso, se crea una nueva tabla llamada `Customer` con cuatro columnas: `customer_id`, `username`, `full_name` y `email`.

2. **Definir la columna `customer_id`:**
   - Tipo de dato: `INT` (entero)
   - Restricciones: `PRIMARY KEY` (clave primaria), `AUTO_INCREMENT` (autoincremento)
   Esta columna sirve como identificador único para cada cliente y se generará automáticamente al insertar nuevos registros.

3. **Definir la columna `username`:**
   - Tipo de dato: `VARCHAR(50)` (cadena de caracteres variable con una longitud máxima de 50 caracteres)
   - Restricciones: `NOT NULL` (no puede estar vacío)
   Esta columna almacenará los nombres de usuario de los clientes.

4. **Definir la columna `full_name`:**
   - Tipo de dato: `VARCHAR(100)` (cadena de caracteres variable con una longitud máxima de 100 caracteres)
   - Restricciones: `NOT NULL` (no puede estar vacío)
   Esta columna almacenará los nombres completos de los clientes.

5. **Definir la columna `email`:**
   - Tipo de dato: `VARCHAR(100)` (cadena de caracteres variable con una longitud máxima de 100 caracteres)
   - Restricciones: `NOT NULL` (no puede estar vacío)
   Esta columna almacenará las direcciones de correo electrónico de los clientes.

Con estos pasos, la tabla de clientes está lista para almacenar la información necesaria para la gestión de clientes en CM Mobiles.

In [ ]:
-- Digite o Coomando SQL
CREATE TABLE customer (
    customer_ID INT PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(50) NOT NULL,
    fullname VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL
);

In [3]:
import mysql.connector

# Conectar a la base de datos
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",  # No se necesita contraseña en tu caso
    database="cm_devices",  # Reemplaza "nombre_de_tu_base_de_datos" con el nombre de tu base de datos
    port="3306"  # Puerto por defecto de MySQL
)

if conexion.is_connected():
    print("Conexión establecida correctamente")
else:
    print("No se pudo establecer conexión")


# Definir la consulta SQL para crear la tabla
comandoSQL = """
CREATE TABLE customer (
    customer_ID INT PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(50) NOT NULL,
    fullname VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL
);



"""

print("Comando SQL almacenado en la variable comandoSQL")


# Ejecutar la consulta SQL para crear la tabla

# Crear un cursor
cursor = conexion.cursor()

# Ejecutar la consulta para crear la tabla
cursor.execute(comandoSQL)

# Confirmar los cambios en la base de datos
conexion.commit()


# Cerrar la conexión a la base de datos al final del código
conexion.close()
print("Conexión cerrada")

ModuleNotFoundError: No module named 'mysql'