**Author:**       Jensy Gregorio Gómez 
---------------------------------------
**Profession:**  IT Support Analyst and Automatation with Python

**Date:**         23 May 2024     

**Modified** 24 May

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)

**Título:** 
# Práctica de Filtrado Avanzado en SQL

## **Descripción del Escenario:**

### Imagina que eres un analista de datos para una empresa de ventas y estás encargado de realizar consultas SQL para extraer información específica de la base de datos de clientes y pedidos. Utilizando las cláusulas de filtrado avanzado en SQL, como "AND", "NOT", "OR", "IN", "BETWEEN" y "LIKE", debes resolver una serie de desafíos para obtener datos relevantes para informes y análisis.

In [ ]:
-- Crear la base de datos
CREATE DATABASE SalesDB;

-- Seleccionar la base de datos
USE SalesDB;

-- Crear la tabla de clientes
CREATE TABLE Clients (
    ClientID INT PRIMARY KEY,
    FullName VARCHAR(100),
    ContactNumber VARCHAR(30),
    Address VARCHAR(255)
);

INSERT INTO Clients (ClientID, FullName, ContactNumber, Address) VALUES
(1, 'Ana Maria Silva', '+55 11 91234-5678', 'Rua das Flores, 123, São Paulo, SP'),
(2, 'Carlos Eduardo Souza', '+55 21 98765-4321', 'Avenida Brasil, 456, Rio de Janeiro, RJ'),
(3, 'Mariana Oliveira', '+55 31 99876-5432', 'Rua da Harmonia, 789, Belo Horizonte, MG'),
(4, 'Pedro Henrique Lima', '+55 51 97654-3210', 'Praça da Liberdade, 101, Porto Alegre, RS'),
(5, 'Juliana Costa', '+55 71 93456-7890', 'Avenida Sete de Setembro, 202, Salvador, BA'),
(6, 'Roberto da Silva', '+55 11 91234-5679', 'Avenida Paulista, 500, São Paulo, SP'),
(7, 'Fernanda Silva Costa', '+55 21 98765-4322', 'Rua das Laranjeiras, 150, Rio de Janeiro, RJ');

-- Crear la tabla de productos
CREATE TABLE Products (
    ProductID INT PRIMARY KEY,
    ProductName VARCHAR(100),
    Price DECIMAL(10, 2)
);

INSERT INTO Products (ProductID, ProductName, Price) VALUES
(101, 'Producto A', 75.00),
(102, 'Producto B', 75.50),
(103, 'Producto C', 60.00),
(104, 'Producto D', 40.00),
(105, 'Producto E', 100.00),
(106, 'Producto F', 50.00),
(107, 'Producto G', 55.00),
(108, 'Producto H', 65.00);

-- Crear la tabla de pedidos
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    ClientID INT,
    ProductID INT,
    Quantity INT,
    Cost DECIMAL(10, 2),
    EmployeeID INT,
    FOREIGN KEY (ClientID) REFERENCES Clients(ClientID),
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID),
    FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID)
);

INSERT INTO Orders (OrderID, ClientID, ProductID, Quantity, Cost, EmployeeID) VALUES
(1, 1, 101, 2, 150.00, 2),
(2, 2, 102, 1, 75.50, 3),
(3, 3, 103, 5, 300.00, 4),
(4, 4, 104, 3, 120.00, 5),
(5, 5, 105, 2, 200.00, 6),
(6, 1, 106, 1, 50.00, 2),
(7, 3, 107, 4, 220.00, 3),
(8, 2, 108, 2, 130.00, 4);

-- Crear la tabla de empleados
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FullName VARCHAR(100),
    JobTitle VARCHAR(100),
    CountyID INT,
    LineManagerID INT,
    FOREIGN KEY (CountyID) REFERENCES Counties(CountyID)
);

-- Crear la tabla de condados
CREATE TABLE Counties (
    CountyID INT PRIMARY KEY,
    CountyName VARCHAR(100)
);

-- Insertar datos de condados
INSERT INTO Counties (CountyID, CountyName) VALUES
(1, 'County A'),
(2, 'County B'),
(3, 'County C'),
(4, 'County D');

-- Insertar datos de empleados
INSERT INTO Employees (EmployeeID, FullName, JobTitle, CountyID, LineManagerID) VALUES
(1, 'Simon', 'Manager', 1, NULL),
(2, 'Seamus', 'Assistant Manager', 1, 1),
(3, 'Greta', 'Senior Developer', 2, 1),
(4, 'Liam', 'Developer', 2, 2),
(5, 'Emma', 'Junior Developer', 3, 2),
(6, 'Ava', 'Intern', 4, 3);

***
***
## 1. **Filtrar clientes en São Paulo y Rio de Janeiro:**
### Usando Alias

In [ ]:
SELECT 
    cli.ClientID AS 'ID del Cliente',
    cli.FullName AS 'Nombre Completo',
    cli.ContactNumber AS 'Número de Contacto',
    cli.Address AS 'Dirección'
FROM 
    Clients cli
WHERE 
    cli.Address LIKE '%São Paulo, SP%' 
    OR cli.Address LIKE '%Rio de Janeiro, RJ%';

***
***

## 2.  **Filtrar clientes que no están en São Paulo:**
### Usando Alias

In [ ]:
SELECT 
    c.ClientID AS ID,
    c.FullName AS Nombre,
    c.ContactNumber AS Contacto,
    c.Address AS Dirección
FROM 
    Clients c
WHERE 
    c.Address NOT LIKE '%São Paulo%';

***
***
## 3.  **Filtrar clientes que tienen 'Silva' en su nombre completo y son de São Paulo:**
### Usando ALias
Modified 27 May 2024 --> 3 Junio 2024

In [ ]:
-- Seleccionar la base de datos
USE SalesDB;

-- Consulta para filtrar clientes
SELECT 
    C.ClientID AS ID_Cliente,
    C.FullName AS Nombre_Completo,
    C.ContactNumber AS Número_Contacto,
    C.Address AS Dirección
FROM 
    Clients C
WHERE 
    C.FullName LIKE '%Silva%' 
    AND C.Address LIKE '%São Paulo%';

***
***
## 4.  **Filtrar clientes cuyo número de contacto no es de São Paulo ni de Rio de Janeiro:**
### Con Alias
Modified 27 May 2024 --> 4 Junio 2024

In [ ]:
-- Seleccionar la base de datos
USE SalesDB;

-- Consulta para filtrar clientes con números de contacto que no sean de São Paulo ni de Rio de Janeiro
SELECT 
    C.ClientID AS ID_Cliente,
    C.FullName AS Nombre_Completo,
    C.ContactNumber AS Número_Contacto,
    C.Address AS Dirección
FROM 
    Clients C
WHERE 
    C.ContactNumber NOT LIKE '+55 11%' 
    AND C.ContactNumber NOT LIKE '+55 21%';

***
***
## 5.  **Filtrar clientes que han realizado pedidos entre 100 y 200 en costo:**
4 Junio 2024

In [ ]:
-- Seleccionar la base de datos
USE SalesDB;

-- Consulta para filtrar los clientes y sus pedidos con costo entre 100 y 200 usando alias
SELECT 
    C.FullName AS Cliente,
    O.Cost AS CostoPedido
FROM 
    Clients AS C
INNER JOIN 
    Orders AS O
ON 
    C.ClientID = O.ClientID
WHERE 
    O.Cost BETWEEN 100 AND 200;

***
***
## 6.  **Obtener la Lista de Empleados y sus Gerentes Directos**
### Ejercicio de Práctica con SELF JOIN y ALIAS: 
#### Tabla employees:
03 Junio 2024 --> 05 junio 2024

In [ ]:
SELECT 
    e1.EmployeeID AS EmpleadoID, 
    e1.FullName AS NombreEmpleado, 
    e2.FullName AS "Gestor del Empleado" 
FROM 
    employees e1 
LEFT JOIN 
    employees e2 
ON 
    e1.LineManagerID = e2.EmployeeID;

***
***
## 7.  **Combinar Nombres y Ubicaciones de Clientes y Empleados**
### Usando UNION ALL y Alias en MySQL
3 junio 2024 --> 07 Junio 2024

In [ ]:
-- Seleccionar la base de datos
USE SalesDB;

-- Crear la consulta para combinar nombres y ubicaciones con alias
SELECT FullName AS Name, Address AS Location
FROM Clients
UNION ALL
SELECT e.FullName, c.CountyName AS Location
FROM Employees e
JOIN Counties c ON e.CountyID = c.CountyID;

In [ ]:
DROP DATABASE SalesDB;