**Author:**       Jensy Gregorio Gómez 
---------------------------------------
**Profession:**  IT Support Analyst and Automatation with Python

**Date:**         23 April 2024     

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)

**Título:** 
# Implementación de valores predeterminados en una base de datos utilizando SQL.

**Escenario:** Carl Merkel, propietario de "CM Mobiles", una tienda de dispositivos móviles en Harrow, Londres, está buscando optimizar el proceso de almacenamiento de direcciones de clientes en su base de datos. Desea establecer valores predeterminados para ciertos campos, simplificando así la entrada de datos y garantizando consistencia en la información almacenada.

**Paso a paso:**

1. **Definir el objetivo:** El objetivo es aprender a trabajar con valores predeterminados en una base de datos mediante el uso del constraint DEFAULT en SQL.

2. **Crear la tabla `Address`:** Utilizaremos SQL para crear una tabla llamada `Address` que almacenará información sobre las direcciones de los clientes.

3. **Estructurar la tabla:** Usaremos la declaración `CREATE TABLE` para definir la estructura de la tabla. Los campos serán: `id` (identificador del cliente), `street` (calle), `postcode` (código postal) y `town` (ciudad).

4. **Asignar tipos de datos:** Cada campo debe ser asignado un tipo de datos adecuado. Por ejemplo, `id` será de tipo `int`, `street` y `town` serán de tipo `VARCHAR`, y `postcode` será `VARCHAR(10)` para acomodar códigos postales de longitud variable.

5. **Establecer valores predeterminados:** Utilizaremos la palabra clave `DEFAULT` para asignar valores predeterminados a ciertos campos. En este caso, estableceremos "Harrow" como valor predeterminado para la ciudad (`town`) y "HA97DE" como valor predeterminado para el código postal (`postcode`), considerando las observaciones de Carl sobre la ubicación predominante de sus clientes.

6. **Crear la tabla:** Ejecutaremos la sentencia SQL para crear la tabla `Address` con la estructura y los valores predeterminados especificados.

7. **Verificar la creación de la tabla:** Después de crear la tabla, podemos verificar su estructura utilizando la sentencia SQL `DESCRIBE` o consultando el esquema de la base de datos.

8. **(Optional) Eliminar la tabla (si es necesario):** Si necesitamos hacer ajustes o queremos recrear la tabla, podemos eliminarla utilizando la sentencia SQL `DROP TABLE Address`.

Este ejercicio nos permitirá entender cómo utilizar valores predeterminados en una base de datos SQL para mejorar la eficiencia y la consistencia de la gestión de datos.

Después de crear la tabla `Address` con los valores predeterminados establecidos, podemos verificar su estructura utilizando la sentencia SQL `DESCRIBE` o consultando el esquema de la base de datos. Aquí está cómo se vería la estructura de la tabla `Address`:

```markdown
| Field    | Type         | Null | Key | Default | Extra |
|----------|--------------|------|-----|---------|-------|
| id       | int          | NO   |     | NULL    |       |
| street   | varchar(255) | YES  |     | NULL    |       |
| postcode | varchar(10)  | YES  |     | 'HA97DE' |       |
| town     | varchar(30)  | YES  |     | 'Harrow' |       |
```

En esta tabla, observamos los siguientes campos:

- `id`: Tipo `int`, no nulo.
- `street`: Tipo `varchar(255)`, puede ser nulo.
- `postcode`: Tipo `varchar(10)`, puede ser nulo, con un valor predeterminado de 'HA97DE'.
- `town`: Tipo `varchar(30)`, puede ser nulo, con un valor predeterminado de 'Harrow'.

Esta representación muestra la estructura de la tabla `Address` con los tipos de datos asignados y los valores predeterminados establecidos para los campos `postcode` y `town`.

| Table   | Create Table                                                                                                   |
|---------|---------------------------------------------------------------------------------------------------------------|
| Address | CREATE TABLE `Address` (
  `id` int(11) NOT NULL,
  `street` varchar(255) DEFAULT NULL,
  `postcode` varchar(10) DEFAULT 'HA97DE',
  `town` varchar(30) DEFAULT 'Harrow'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci |

In [ ]:
-- Digite o Coomando SQL

In [ ]:
import mysql.connector

# Conectar a la base de datos
conexion = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",  # No se necesita contraseña en tu caso
    database="cm_devices",  # Reemplaza "nombre_de_tu_base_de_datos" con el nombre de tu base de datos
    port="3306"  # Puerto por defecto de MySQL
)

if conexion.is_connected():
    print("Conexión establecida correctamente")
else:
    print("No se pudo establecer conexión")


# Definir la consulta SQL para crear la tabla
comandoSQL = """




"""

print("Comando SQL almacenado en la variable comandoSQL")


# Ejecutar la consulta SQL para crear la tabla

# Crear un cursor
cursor = conexion.cursor()

# Ejecutar la consulta para crear la tabla
cursor.execute(comandoSQL)

# Confirmar los cambios en la base de datos
conexion.commit()


# Cerrar la conexión a la base de datos al final del código
conexion.close()
print("Conexión cerrada")