**Author:**       Jensy Gregorio Gómez 
---------------------------------------
**Profession:**  IT Support Analyst and Automatation with Python

**Date:**         23 May 2024     

**Modified** 24 May

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)

**Título:** 
# Práctica de Filtrado Avanzado en SQL

## **Descripción del Escenario:**

### Imagina que eres un analista de datos para una empresa de ventas y estás encargado de realizar consultas SQL para extraer información específica de la base de datos de clientes y pedidos. Utilizando las cláusulas de filtrado avanzado en SQL, como "AND", "NOT", "OR", "IN", "BETWEEN" y "LIKE", debes resolver una serie de desafíos para obtener datos relevantes para informes y análisis.

In [ ]:
-- Crear la base de datos
CREATE DATABASE SalesDB;

-- Seleccionar la base de datos
USE SalesDB;

CREATE TABLE Clients (
    ClientID INT PRIMARY KEY,
    FullName VARCHAR(100),
    ContactNumber VARCHAR(30),
    Address VARCHAR(255)
);

INSERT INTO Clients (ClientID, FullName, ContactNumber, Address) VALUES
(1, 'Ana Maria Silva', '+55 11 91234-5678', 'Rua das Flores, 123, São Paulo, SP'),
(2, 'Carlos Eduardo Souza', '+55 21 98765-4321', 'Avenida Brasil, 456, Rio de Janeiro, RJ'),
(3, 'Mariana Oliveira', '+55 31 99876-5432', 'Rua da Harmonia, 789, Belo Horizonte, MG'),
(4, 'Pedro Henrique Lima', '+55 51 97654-3210', 'Praça da Liberdade, 101, Porto Alegre, RS'),
(5, 'Juliana Costa', '+55 71 93456-7890', 'Avenida Sete de Setembro, 202, Salvador, BA'),
(6, 'Roberto da Silva', '+55 11 91234-5679', 'Avenida Paulista, 500, São Paulo, SP'),
(7, 'Fernanda Silva Costa', '+55 21 98765-4322', 'Rua das Laranjeiras, 150, Rio de Janeiro, RJ');


CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    ClientID INT,
    ProductID INT,
    Quantity INT,
    Cost DECIMAL(10, 2),
    FOREIGN KEY (ClientID) REFERENCES Clients(ClientID)
);

INSERT INTO Orders (OrderID, ClientID, ProductID, Quantity, Cost) VALUES
(1, 1, 101, 2, 150.00),
(2, 2, 102, 1, 75.50),
(3, 3, 103, 5, 300.00),
(4, 4, 104, 3, 120.00),
(5, 5, 105, 2, 200.00),
(6, 1, 106, 1, 50.00),
(7, 3, 107, 4, 220.00),
(8, 2, 108, 2, 130.00);

***
***
## 1. **Filtrar clientes en São Paulo y Rio de Janeiro:**
### Usando Alias

In [ ]:
SELECT 
    cli.ClientID AS 'ID del Cliente',
    cli.FullName AS 'Nombre Completo',
    cli.ContactNumber AS 'Número de Contacto',
    cli.Address AS 'Dirección'
FROM 
    Clients cli
WHERE 
    cli.Address LIKE '%São Paulo, SP%' 
    OR cli.Address LIKE '%Rio de Janeiro, RJ%';

***
***

## 2.  **Filtrar clientes que no están en São Paulo:**
### Usando Alias

In [ ]:
SELECT 
    c.ClientID AS ID,
    c.FullName AS Nombre,
    c.ContactNumber AS Contacto,
    c.Address AS Dirección
FROM 
    Clients c
WHERE 
    c.Address NOT LIKE '%São Paulo%';

***
***
## 3.  **Filtrar clientes que tienen 'Silva' en su nombre completo y son de São Paulo:**
### Usando ALias
Modified 27 May 2024

In [ ]:
-- Seleccionar la base de datos
USE SalesDB;

-- Consulta para filtrar clientes
SELECT 
    C.ClientID AS ID_Cliente,
    C.FullName AS Nombre_Completo,
    C.ContactNumber AS Número_Contacto,
    C.Address AS Dirección
FROM 
    Clients C
WHERE 
    C.FullName LIKE '%Silva%' 
    AND C.Address LIKE '%São Paulo%';

***
***
## 4.  **Filtrar clientes cuyo número de contacto no es de São Paulo ni de Rio de Janeiro:**
### Con Alias
Modified 27 May 2024

In [ ]:
-- Seleccionar la base de datos
USE SalesDB;

-- Consulta para filtrar clientes con números de contacto que no sean de São Paulo ni de Rio de Janeiro
SELECT 
    C.ClientID AS ID_Cliente,
    C.FullName AS Nombre_Completo,
    C.ContactNumber AS Número_Contacto,
    C.Address AS Dirección
FROM 
    Clients C
WHERE 
    C.ContactNumber NOT LIKE '+55 11%' 
    AND C.ContactNumber NOT LIKE '+55 21%';

## 5.  **Filtrar clientes que han realizado pedidos entre 100 y 200 en costo:**


`SELECT *
FROM Orders
WHERE Cost BETWEEN 100 AND 200;`
***
***
***

## 6.  **Filtrar clientes que han realizado pedidos de los productos 101, 103 o 105:**



`SELECT *
FROM Orders
WHERE ProductID IN (101, 103, 105);`
***
***
***


## 7.  **Filtrar clientes cuyo nombre completo comienza con 'A' y termina con 'a':**

`SELECT *
FROM Clients
WHERE FullName LIKE 'A%a';`

***
***
***

In [ ]:
DROP DATABASE SalesDB;