**Author:**       Jensy Gregorio Gómez 
---------------------------------------
**Profession:**  IT Support Analyst | NOC | Database Administrator

**Date:**         20 Junio 2024    

**Modified**  23 Junio 2024

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)

1. **INNER JOIN con alias**:
   - Selecciona el nombre del equipo y el nombre del presidente utilizando un INNER JOIN entre las tablas `Equipos` y `Presidentes`. Los alias (`e` y `p`) simplifican la referencia a las tablas.

In [ ]:
-- 1. INNER JOIN con alias

SELECT
    e.nombre AS equipo,
    p.nombre AS presidente
FROM Equipos e
INNER JOIN Presidentes p ON e.presidente_id = p.id;

2. **LEFT JOIN con alias**:
   - Selecciona el nombre del equipo y el nombre del entrenador utilizando un LEFT JOIN entre las tablas `Equipos` y `Entrenadores`. Esto asegura que se incluyan todos los equipos, incluso si no tienen entrenador asignado.

In [ ]:
-- 2. LEFT JOIN con alias

SELECT
    e.nombre AS equipo,
    t.nombre AS entrenador
FROM Equipos e
LEFT JOIN Entrenadores t ON e.entrenador_id = t.id;

3. **RIGHT JOIN con alias**:
   - Selecciona el nombre del entrenador y el nombre del equipo utilizando un RIGHT JOIN entre las tablas `Entrenadores` y `Equipos`. Asegura que se incluyan todos los entrenadores, incluso si no tienen equipo asignado.

In [ ]:
-- 3. RIGHT JOIN con alias

SELECT
    t.nombre AS entrenador,
    e.nombre AS equipo
FROM Entrenadores t
RIGHT JOIN Equipos e ON t.id = e.entrenador_id;

4. **SELF JOIN con alias**:
   - Selecciona el nombre de dos jugadores (`jugador1` y `jugador2`) que pertenecen al mismo equipo, utilizando un SELF JOIN en la tabla `Jugadores`. Esto permite comparar jugadores dentro del mismo equipo pero diferentes ID.

In [ ]:
-- 4. SELF JOIN con alias

SELECT
    j1.nombre AS jugador1,
    j2.nombre AS jugador2
FROM Jugadores j1
JOIN Jugadores j2 ON j1.equipo_id = j2.equipo_id
                 AND j1.id <> j2.id;

5. **UNION**:
   - Combina los nombres de los presidentes y entrenadores en una lista única, utilizando UNION. Elimina automáticamente duplicados.

In [ ]:
-- 5. UNION

SELECT nombre 
FROM Presidentes
UNION
SELECT nombre 
FROM Entrenadores;

6. **UNION ALL**:
   - Combina los nombres de los presidentes y entrenadores en una lista única, utilizando UNION ALL. Incluye todos los resultados, incluidos los duplicados si existen.

In [ ]:
-- 6. UNION ALL

SELECT nombre 
FROM Presidentes
UNION ALL
SELECT nombre 
FROM Entrenadores;