**Author:**       Jensy Gregorio Gómez 
---------------------------------------
**Profession:**  IT Support Analyst and Automatation with Python

**Date:**         01 Jun 2024     

**Modified** 

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)


**Título: Análisis de Productividad de Empleados basado en Estado de Pedidos**

**Escenario:** En la empresa Lucky Shrub, un proveedor líder en suministros de jardinería, la eficiencia y la gestión de pedidos son cruciales para mantener la satisfacción del cliente y garantizar la rentabilidad. Como parte del equipo de análisis de datos, se te ha asignado la tarea de evaluar la productividad de los empleados en función del estado de los pedidos que manejan.

Tu objetivo es identificar a todos los empleados que han completado pedidos y analizar su desempeño en comparación con otros. Utilizando el operador ANY en SQL, debes extraer una lista de empleados junto con el estado de los pedidos que han completado. Esta información será fundamental para reconocer a los empleados más eficientes y para identificar posibles áreas de mejora en el proceso de gestión de pedidos.

In [ ]:
CREATE DATABASE luckyshrub_db; 

USE luckyshrub_db;

CREATE TABLE employees (
  EmployeeID int NOT NULL,
  EmployeeName varchar(150) DEFAULT NULL,
  Department varchar(150) DEFAULT NULL,
  ContactNo varchar(12) DEFAULT NULL,
  Email varchar(100) DEFAULT NULL,
  AnnualSalary int DEFAULT NULL,
  PRIMARY KEY (EmployeeID)
);

CREATE TABLE orders (
  OrderID int NOT NULL,
  Department varchar(100) DEFAULT NULL,
  OrderDate date DEFAULT NULL,
  OrderQty int DEFAULT NULL,
  OrderTotal int DEFAULT NULL,
  PRIMARY KEY (OrderID)
);

CREATE TABLE employee_orders (
 OrderID int NOT NULL,
 EmployeeID int NOT NULL,
 Status VARCHAR(150),
 HandlingCost int DEFAULT NULL,
 PRIMARY KEY (EmployeeID,OrderID),
 FOREIGN KEY (EmployeeID) REFERENCES employees(EmployeeID),
 FOREIGN KEY (OrderID) REFERENCES orders(OrderID)
);

INSERT INTO employees VALUES 
(1,'Seamus Hogan', 'Recruitment', '351478025', 'Seamus.h@luckyshrub.com',50000), 
(2,'Thomas Eriksson', 'Legal', '351475058', 'Thomas.e@luckyshrub.com',75000), 
(3,'Simon Tolo', 'Marketing', '351930582','Simon.t@luckyshrub.com',40000), 
(4,'Francesca Soffia', 'Finance', '351258569','Francesca.s@luckyshrub.com',45000), 
(5,'Emily Sierra', 'Customer Service', '351083098','Emily.s@luckyshrub.com',35000), 
(6,'Maria Carter', 'Human Resources', '351022508','Maria.c@luckyshrub.com',55000),
(7,'Rick Griffin', 'Marketing', '351478458','Rick.G@luckyshrub.com',50000);

INSERT INTO orders VALUES(1,'Lawn Care','2022-05-05',12,500),
(2,'Decking','2022-05-22',150,1450),
(3,'Compost and Stones','2022-05-27',20,780),
(4,'Trees and Shrubs','2022-06-01',15,400),
(5,'Garden Decor','2022-06-10',2,1250),
(6,'Lawn Care','2022-06-10',12,500),
(7,'Decking','2022-06-25',150,1450),
(8,'Compost and Stones','2022-05-29',20,780),
(9,'Trees and Shrubs','2022-06-10',15,400),
(10,'Garden Decor','2022-06-10',2,1250),
(11,'Lawn Care','2022-06-25',10,400), 
(12,'Decking','2022-06-25',100,1400),
(13,'Compost and Stones','2022-05-30',15,700), 
(14,'Trees and Shrubs','2022-06-15',10,300), 
(15,'Garden Decor','2022-06-11',2,1250),
(16,'Lawn Care','2022-06-10',12,500), 
(17,'Decking','2022-06-25',150,1450), 
(18,'Trees and Shrubs','2022-06-10',15,400), 
(19,'Lawn Care','2022-06-10',12,500), 
(20,'Decking','2022-06-25',150,1450), 
(21,'Decking','2022-06-25',150,1450); 

INSERT INTO employee_orders 
VALUES(1,3,"In Progress",200), 
(1,5,"Not Recieved",300), 
(1,4,"Not Recieved",250), 
(2,3,"Completed",200), 
(2,5,"Completed",300), 
(2,4,"In Progress",250), 
(3,3,"In Progress",200), 
(3,5,"Not Recieved",300), 
(3,4,"Not Recieved",250), 
(4,3,"Completed",200), 
(4,5,"In Progress",300), 
(4,4,"In Progress",250), 
(5,3,"Completed",200), 
(5,5,"In Progress",300), 
(5,4,"Not Recieved",250), 
(11,3,"Completed",200), 
(11,5,"Completed",300), 
(11,4,"Not Recieved",250), 
(14,3,"Completed",200), 
(14,5,"Not Recieved",300), 
(14,4,"Not Recieved",250); 




-- Selecciona todos los empleados con estado de pedido 'Completed' usando el operador ANY
SELECT e.EmployeeID, e.EmployeeName, eo.Status AS OrderStatus
FROM employees e
JOIN employee_orders eo ON e.EmployeeID = eo.EmployeeID
WHERE eo.Status = ANY (
    SELECT Status 
    FROM employee_orders 
    WHERE Status = 'Completed'
) AS CompletedOrders;

***
***
Identificación de Empleados que han Ganado más del 20% del Valor Total del Pedido en Todos los Pedidos que Han Manejado

In [ ]:
SELECT eo.EmployeeID AS Employee_ID
FROM employee_orders eo
WHERE eo.HandlingCost > ALL (
    SELECT o.OrderTotal * 0.2
    FROM orders o
    WHERE o.OrderID IN (
        SELECT eo.OrderID
        FROM employee_orders eo
        WHERE eo.EmployeeID = eo.EmployeeID
    )
);


***
***
**Título: Análisis de Órdenes de Empleados y Gastos por Departamento**

**Descripción del Ejercicio:** Imagina que eres un analista en Lucky Shrub, una empresa especializada en suministros de jardinería. Tu tarea es analizar las órdenes de los empleados y los gastos por departamento. Debes resumir los registros duplicados en la tabla de órdenes y calcular el gasto total para cada departamento.

In [ ]:
SELECT 
    o.Department AS Departamento,
    o.OrderDate AS FechaOrden,
    SUM(o.OrderTotal) AS GastoTotal,
    e.EmployeeName AS NombreEmpleado,
    eo.Status AS Estado,
    eo.HandlingCost AS CostoManejo
FROM 
    (SELECT Department, OrderDate, OrderTotal
     FROM orders
     GROUP BY Department, OrderDate, OrderTotal) AS o
JOIN 
    employee_orders AS eo ON o.OrderID = eo.OrderID
JOIN 
    employees AS e ON eo.EmployeeID = e.EmployeeID
ORDER BY 
    o.Department ASC,
    o.OrderDate ASC;


**Título del ejercicio:** Filtrando Datos Agrupados con la Clausula HAVING y Alias

**Descripción de la Tarea:**

1.  **Objetivo:** Practicar el uso de la cláusula HAVING para filtrar datos agregados en consultas SQL.
    
2.  **Escenario:** Se te ha encomendado analizar los datos de pedidos de la empresa Lucky Shrub. Tu objetivo es filtrar los totales de pedidos agregados para incluir solo los pedidos que superen los $100 y representen el 20% superior de los pedidos.
    
3.  **Pasos:**
    
    -   **Paso 1:** Escribe una consulta SQL para calcular el monto total del pedido para cada departamento.
        
    -   **Paso 2:** Utiliza una subconsulta para calcular el total acumulado del pedido y el porcentaje para cada departamento.
        
    -   **Paso 3:** Utiliza la cláusula HAVING con un alias para filtrar los datos agrupados y recuperar solo el 20% superior de los totales de pedidos, donde el total del pedido sea más de $100.
        
    -   **Paso 4:** Muestra el nombre del departamento y el total acumulado del pedido filtrado para cada departamento.
        
4.  **Salida Esperada:** La consulta debe devolver el nombre del departamento y el total acumulado del pedido filtrado para los departamentos donde el 20% superior de los totales de pedidos sea más de $100.

In [ ]:
-- Paso 1: Calcular el monto total del pedido para cada departamento
SELECT Departamento, SUM(TotalPedido) AS TotalMonto
FROM pedidos
GROUP BY Departamento;

-- Paso 2: Calcular el total acumulado del pedido y el porcentaje para cada departamento
SELECT 
    Departamento,
    SUM(TotalPedido) AS TotalAcumulado,
    SUM(TotalPedido) / (SELECT SUM(TotalPedido) FROM pedidos) * 100 AS Porcentaje
FROM pedidos
GROUP BY Departamento;

-- Paso 3 & 4: Filtrar el 20% superior de los pedidos con un total superior a $100 usando la cláusula HAVING y un alias
SELECT 
    Departamento,
    SUM(TotalPedido) AS TotalAcumulado
FROM pedidos
GROUP BY Departamento
HAVING TotalAcumulado > 100
ORDER BY TotalAcumulado DESC
LIMIT (SELECT COUNT(DISTINCT Departamento) * 0.2 FROM pedidos);