**Author:**       Jensy Gregorio Gómez 
---------------------------------------
**Profession:**  IT Support Analyst | NOC | Database Administrator

**Date:**         20 Junio 2024    

**Modified**  

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)

### Consulta SQL para Encontrar el **NOMBRE DEL PRESIDENTE DEL REAL MADRID**

In [ ]:
-- Ejercicio 1: Encontrar el nombre del presidente de un equipo específico
-- Paso 1: Seleccionar el ID del equipo llamado 'Real Madrid'
SELECT id
FROM Equipos
WHERE nombre = 'Real Madrid';

-- Paso 2: Usar el ID del equipo para encontrar el presidente
SELECT nombre
FROM Presidentes
WHERE id = (
    SELECT presidente_id
    FROM Equipos
    WHERE nombre = 'Real Madrid'
);

### Consulta SQL para Encontrar **JUGADORES** de Equipos **CON ENTRENADORES EXPERIMENTADOS**

In [ ]:
-- Ejercicio 2: Encontrar los jugadores que juegan en equipos dirigidos por entrenadores con más de 15 años de experiencia
-- Paso 1: Seleccionar los IDs de entrenadores con más de 15 años de experiencia
SELECT id
FROM Entrenadores
WHERE experiencia > 15;

-- Paso 2: Usar los IDs de los entrenadores para encontrar los equipos que dirigen
SELECT id
FROM Equipos
WHERE entrenador_id IN (
    SELECT id
    FROM Entrenadores
    WHERE experiencia > 15
);

-- Paso 3: Usar los IDs de los equipos para encontrar los jugadores
SELECT nombre
FROM Jugadores
WHERE equipo_id IN (
    SELECT id
    FROM Equipos
    WHERE entrenador_id IN (
        SELECT id
        FROM Entrenadores
        WHERE experiencia > 15
    )
);

### Consulta SQL para Encontrar **JUGADORES** en **EQUIPOS PRESIDIDOS POR MUJERES**

In [ ]:


-- Ejercicio 3: Encontrar el nombre de los jugadores que juegan en equipos presididos por mujeres
-- Paso 1: Seleccionar los IDs de presidentes que son mujeres
SELECT id
FROM Presidentes
WHERE nombre IN ('María Rodríguez', 'Elena Gómez', 'Sandra López');

-- Paso 2: Usar los IDs de los presidentes para encontrar los equipos que presiden
SELECT id
FROM Equipos
WHERE presidente_id IN (
    SELECT id
    FROM Presidentes
    WHERE nombre IN ('María Rodríguez', 'Elena Gómez', 'Sandra López')
);

-- Paso 3: Usar los IDs de los equipos para encontrar los jugadores que juegan en esos equipos
SELECT nombre
FROM Jugadores
WHERE equipo_id IN (
    SELECT id
    FROM Equipos
    WHERE presidente_id IN (
        SELECT id
        FROM Presidentes
        WHERE nombre IN ('María Rodríguez', 'Elena Gómez', 'Sandra López')
    )
);