**Author:**       Jensy Gregorio Gómez 
---------------------------------------
**Profession:**  IT Support Analyst and Automatation with Python

**Date:**         01 Jun 2024     

**Modified** 

**Location:**     Vila Izabel, Curitiba/PR  


---

**Contacto:**

- **Email:** [contact@jensygomez.us](mailto:contact@jensygomez.us)
- **YouTube:** [Tu Canal de YouTube](https://www.youtube.com/@systechcwb826)
- **LinkedIn:** [Tu Perfil de LinkedIn](https://www.linkedin.com/in/jensygomez/)


### Título: 

# Gestión de Contactos de Empleados en Lucky Shrub Gardening Center

### Escenario:

Eres el encargado de la gestión de la base de datos de empleados en Lucky Shrub Gardening Center. Recientemente, la empresa ha contratado nuevos empleados y algunos han dejado la compañía. Tu tarea es asegurarte de que la información de contacto de los empleados esté siempre actualizada en la base de datos. Para ello, usarás el comando `REPLACE` en MySQL para insertar nuevos registros y reemplazar los registros existentes cuando sea necesario.

In [ ]:
-- Crear la base de datos
CREATE DATABASE LuckyShrubGardening;

-- Usar la base de datos
USE LuckyShrubGardening;

-- Crear la tabla
CREATE TABLE employee_contact_info (
    employee_id INT PRIMARY KEY,
    contact_number VARCHAR(15),
    email_address VARCHAR(50)
);


-- Insertar registros en la tabla
INSERT INTO employee_contact_info (employee_id, contact_number, email_address) VALUES
(1, '123-456-7890', 'employee1@example.com'),
(2, '123-456-7891', 'employee2@example.com'),
(3, '123-456-7892', 'employee3@example.com'),
(4, '123-456-7893', 'employee4@example.com'),
(5, '123-456-7894', 'employee5@example.com'),
(6, '123-456-7895', 'employee6@example.com'),
(7, '123-456-7896', 'employee7@example.com'),
(8, '123-456-7897', 'employee8@example.com'),
(9, '123-456-7898', 'employee9@example.com'),
(10, '123-456-7899', 'employee10@example.com'),
(11, '123-456-7900', 'employee11@example.com'),
(12, '123-456-7901', 'employee12@example.com'),
(13, '123-456-7902', 'employee13@example.com'),
(14, '123-456-7903', 'employee14@example.com'),
(15, '123-456-7904', 'employee15@example.com'),
(16, '123-456-7905', 'employee16@example.com'),
(17, '123-456-7906', 'employee17@example.com'),
(18, '123-456-7907', 'employee18@example.com'),
(19, '123-456-7908', 'employee19@example.com'),
(20, '123-456-7909', 'employee20@example.com');


#### Ejercicio 1: Insertar un nuevo empleado

Vamos a insertar un nuevo empleado, `John Doe`, con `employee_id` igual a `21`.

In [ ]:
-- Insertar nuevo empleado John Doe
REPLACE INTO employee_contact_info (employee_id, contact_number, email_address) VALUES
(21, '123-456-7910', 'john.doe@example.com');

#### Ejercicio 2: Reemplazar los detalles de un empleado existente

Reemplazar los detalles del empleado con `employee_id` igual a `5` con los nuevos datos de `Jane Smith`.

In [ ]:
-- Reemplazar los detalles del empleado con employee_id = 5
REPLACE INTO employee_contact_info (employee_id, contact_number, email_address) VALUES
(5, '123-456-7950', 'jane.smith@example.com');


#### Ejercicio 3: Actualizar el número de contacto de un empleado

Actualizar el número de contacto del empleado con `employee_id` igual a `10`.

In [ ]:
-- Actualizar el número de contacto del empleado con employee_id = 10
REPLACE INTO employee_contact_info (employee_id, contact_number, email_address) VALUES
(10, '123-456-7999', 'employee10@example.com');